{% extends 'admin/adminbase.html' %}

{% block title%}

{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span class="fa fa-home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="registrations.html">
              <span class="fa fa-users"></span>
              Registrations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
               <span class="fa fa-user"></span>
              Speakers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-file"></span>
              Breakout Sessions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-cart"></span>
              Payment Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-power-off"></span>
              Sign out
            </a>
          </li>
        </ul>

         
       
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome to your Dashboard, {{adminname.admin_username}}</h1>
         


      </div>

      

      <h2>Section title</h2>
      
    </main>
  </div>
</div>
{% endblock %}